@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes showUp {
    0% {
        transform: translateY(6rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes moveRightAndBack {
    0% {
        transform: translateX(-12px);
    }

    100% {
        transform: translateX(12px);
    }
}

.showUpAnimation {
    animation-name: showUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
}

.moveRightAndBackAnimation {
    animation-name: moveRightAndBack;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

::-webkit-scrollbar {
    width: 8px;
    /* Chiều rộng của thanh cuộn */
}

::-webkit-scrollbar-track {
    background: white;
    /* Màu sắc của vùng cuộn (track) */
    border-radius: 10px;
    /* Để có hình dạng tròn */
}

::-webkit-scrollbar-thumb {
    background: #444;
    /* Màu sắc của nút cuộn (thumb) */
    border-radius: 10px;
    /* Để có hình dạng tròn */
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
    /* Màu sắc khi hover lên nút cuộn */
}